body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:103px;
  top:100px;
  width:1067px;
  height:620px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1067px;
  height:620px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:100px;
  top:149px;
  width:79px;
  height:288px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:288px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:198px;
  top:144px;
  width:200px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u4 {
  position:absolute;
  left:198px;
  top:290px;
  width:546px;
  height:120px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:120px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u5 {
  position:absolute;
  left:198px;
  top:193px;
  width:200px;
  height:22px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u6 {
  position:absolute;
  left:430px;
  top:145px;
  width:9px;
  height:24px;
  font-size:20px;
  color:#FF0000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:24px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:733px;
  top:292px;
  width:9px;
  height:24px;
  font-size:20px;
  color:#FF0000;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:24px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:430px;
  top:237px;
  width:9px;
  height:24px;
  font-size:20px;
  color:#FF0000;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:24px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:234px;
  top:450px;
  width:200px;
  height:40px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:468px;
  top:450px;
  width:200px;
  height:40px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:50px;
  top:20px;
  width:967px;
  height:100px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:967px;
  height:100px;
}
#u17 {
  position:absolute;
  left:2px;
  top:42px;
  width:963px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:100px;
  top:62px;
  width:200px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:200px;
  top:292px;
  width:543px;
  height:45px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:45px;
}
#u21 {
  position:absolute;
  left:2px;
  top:14px;
  width:539px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:430px;
  top:193px;
  width:9px;
  height:24px;
  font-size:20px;
  color:#FF0000;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:24px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:198px;
  top:239px;
  width:200px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u0_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1067px;
  height:620px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:270px;
  top:110px;
  width:480px;
  height:220px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:220px;
}
#u26 {
  position:absolute;
  left:2px;
  top:66px;
  width:476px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:380px;
  top:260px;
  width:130px;
  height:40px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u28 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:550px;
  top:260px;
  width:130px;
  height:40px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u30 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:1370px;
  height:100px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1370px;
  height:100px;
}
#u33 {
  position:absolute;
  left:2px;
  top:42px;
  width:1366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:146px;
  top:40px;
  width:114px;
  height:19px;
  font-size:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:19px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:20px;
  top:25px;
  width:100px;
  height:50px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u37 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:360px;
  top:50px;
  width:120px;
  height:40px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u39 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:520px;
  top:50px;
  width:120px;
  height:40px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u41 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:680px;
  top:50px;
  width:120px;
  height:40px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u43 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:1176px;
  top:34px;
  width:94px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:1170px;
  top:50px;
  width:120px;
  height:40px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u47 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
