body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1337px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1264px;
  height:749px;
}
#u218 {
  position:absolute;
  left:73px;
  top:0px;
  width:1264px;
  height:749px;
}
#u219 {
  position:absolute;
  left:2px;
  top:366px;
  width:1260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u220 {
  position:absolute;
  left:913px;
  top:370px;
  width:287px;
  height:40px;
}
#u221 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
