body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1370px;
  height:100px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1370px;
  height:100px;
}
#u2 {
  position:absolute;
  left:2px;
  top:42px;
  width:1366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:146px;
  top:40px;
  width:114px;
  height:19px;
  font-size:16px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:19px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:20px;
  top:25px;
  width:100px;
  height:50px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u6 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:360px;
  top:50px;
  width:120px;
  height:40px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u8 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:510px;
  top:50px;
  width:120px;
  height:40px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u10 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:660px;
  top:50px;
  width:120px;
  height:40px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:810px;
  top:50px;
  width:120px;
  height:40px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:1176px;
  top:34px;
  width:94px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:370px;
  top:300px;
  width:200px;
  height:190px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:190px;
}
#u18 {
  position:absolute;
  left:2px;
  top:87px;
  width:196px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:660px;
  top:300px;
  width:200px;
  height:190px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:190px;
}
#u20 {
  position:absolute;
  left:2px;
  top:87px;
  width:196px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:260px;
  top:170px;
  width:660px;
  height:640px;
  overflow:hidden;
  visibility:hidden;
}
#u21_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:640px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u21_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22 {
  position:absolute;
  left:-60px;
  top:-40px;
  width:770px;
  height:690px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:690px;
}
#u23 {
  position:absolute;
  left:2px;
  top:337px;
  width:766px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:70px;
  top:31px;
  width:64px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:146px;
  top:27px;
  width:200px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u27 {
  position:absolute;
  left:70px;
  top:81px;
  width:66px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:146px;
  top:69px;
  width:124px;
  height:40px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:40px;
}
#u30 {
  position:absolute;
  left:2px;
  top:12px;
  width:120px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:290px;
  top:69px;
  width:124px;
  height:40px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:40px;
}
#u32 {
  position:absolute;
  left:2px;
  top:12px;
  width:120px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:70px;
  top:131px;
  width:66px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:146px;
  top:127px;
  width:314px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u36 {
  position:absolute;
  left:70px;
  top:191px;
  width:66px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:151px;
  top:177px;
  width:150px;
  height:153px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:153px;
}
#u39 {
  position:absolute;
  left:2px;
  top:68px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:60px;
  top:511px;
  width:190px;
  height:16px;
}
#u41 {
  position:absolute;
  left:16px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u40_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u42 {
  position:absolute;
  left:70px;
  top:360px;
  width:66px;
  height:112px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:112px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:146px;
  top:355px;
  width:200px;
  height:25px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u45 {
  position:absolute;
  left:145px;
  top:403px;
  width:200px;
  height:25px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u46 {
  position:absolute;
  left:124px;
  top:550px;
  width:138px;
  height:40px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:40px;
}
#u47 {
  position:absolute;
  left:2px;
  top:12px;
  width:134px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:314px;
  top:550px;
  width:138px;
  height:40px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:40px;
}
#u49 {
  position:absolute;
  left:2px;
  top:12px;
  width:134px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:145px;
  top:450px;
  width:91px;
  height:22px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u51 {
  position:absolute;
  left:254px;
  top:450px;
  width:91px;
  height:22px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u52 {
  position:absolute;
  left:360px;
  top:450px;
  width:91px;
  height:22px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u53 {
  position:absolute;
  left:478px;
  top:447px;
  width:172px;
  height:25px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u21_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:640px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u21_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u54 {
  position:absolute;
  left:-60px;
  top:-30px;
  width:770px;
  height:650px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:650px;
}
#u55 {
  position:absolute;
  left:2px;
  top:317px;
  width:766px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:70px;
  top:31px;
  width:66px;
  height:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:146px;
  top:27px;
  width:200px;
  height:25px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u59 {
  position:absolute;
  left:70px;
  top:81px;
  width:66px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:146px;
  top:69px;
  width:124px;
  height:40px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:40px;
}
#u62 {
  position:absolute;
  left:2px;
  top:12px;
  width:120px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:290px;
  top:69px;
  width:124px;
  height:40px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:40px;
}
#u64 {
  position:absolute;
  left:2px;
  top:12px;
  width:120px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:70px;
  top:131px;
  width:66px;
  height:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:146px;
  top:127px;
  width:314px;
  height:25px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u68 {
  position:absolute;
  left:70px;
  top:191px;
  width:66px;
  height:16px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:151px;
  top:177px;
  width:150px;
  height:153px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:153px;
}
#u71 {
  position:absolute;
  left:2px;
  top:68px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:60px;
  top:507px;
  width:190px;
  height:16px;
}
#u73 {
  position:absolute;
  left:16px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u72_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u74 {
  position:absolute;
  left:70px;
  top:360px;
  width:66px;
  height:112px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:112px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:146px;
  top:355px;
  width:200px;
  height:25px;
}
#u76_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u77 {
  position:absolute;
  left:145px;
  top:403px;
  width:200px;
  height:25px;
}
#u77_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u78 {
  position:absolute;
  left:124px;
  top:546px;
  width:138px;
  height:40px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:40px;
}
#u79 {
  position:absolute;
  left:2px;
  top:12px;
  width:134px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:314px;
  top:546px;
  width:138px;
  height:40px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:40px;
}
#u81 {
  position:absolute;
  left:2px;
  top:12px;
  width:134px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:146px;
  top:453px;
  width:91px;
  height:22px;
}
#u82_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u83 {
  position:absolute;
  left:254px;
  top:453px;
  width:91px;
  height:22px;
}
#u83_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u84 {
  position:absolute;
  left:361px;
  top:453px;
  width:91px;
  height:22px;
}
#u84_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u85 {
  position:absolute;
  left:478px;
  top:450px;
  width:172px;
  height:25px;
}
#u85_input {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
