body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:103px;
  top:100px;
  width:1067px;
  height:620px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1067px;
  height:620px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:100px;
  top:30px;
  width:157px;
  height:407px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:407px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:199px;
  top:75px;
  width:200px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u5 {
  position:absolute;
  left:199px;
  top:130px;
  width:547px;
  height:170px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:170px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u6 {
  position:absolute;
  left:201px;
  top:132px;
  width:543px;
  height:45px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:45px;
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:539px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:417px;
  top:86px;
  width:9px;
  height:24px;
  font-size:20px;
  color:#FF0000;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:24px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:218px;
  top:370px;
  width:200px;
  height:40px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:451px;
  top:370px;
  width:200px;
  height:40px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:756px;
  top:177px;
  width:9px;
  height:24px;
  font-size:20px;
  color:#FF0000;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:24px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u0_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1067px;
  height:620px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:270px;
  top:110px;
  width:480px;
  height:220px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:220px;
}
#u17 {
  position:absolute;
  left:2px;
  top:66px;
  width:476px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:380px;
  top:260px;
  width:130px;
  height:40px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:550px;
  top:260px;
  width:130px;
  height:40px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:1370px;
  height:100px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1370px;
  height:100px;
}
#u24 {
  position:absolute;
  left:2px;
  top:42px;
  width:1366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:146px;
  top:40px;
  width:114px;
  height:19px;
  font-size:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:19px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:20px;
  top:25px;
  width:100px;
  height:50px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u28 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:360px;
  top:50px;
  width:120px;
  height:40px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u30 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:520px;
  top:50px;
  width:120px;
  height:40px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u32 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:680px;
  top:50px;
  width:120px;
  height:40px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u34 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:1176px;
  top:34px;
  width:94px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:1170px;
  top:50px;
  width:120px;
  height:40px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u38 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
