body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:100px;
  top:0px;
  width:1000px;
  height:60px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:60px;
}
#u2 {
  position:absolute;
  left:2px;
  top:22px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:159px;
  top:18px;
  width:241px;
  height:24px;
  font-size:20px;
  color:#0099FF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:24px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:100px;
  top:59px;
  width:200px;
  height:421px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:421px;
}
#u6 {
  position:absolute;
  left:2px;
  top:202px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:140px;
  top:59px;
  width:160px;
  height:30px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:140px;
  top:88px;
  width:160px;
  height:30px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:140px;
  top:175px;
  width:160px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:140px;
  top:117px;
  width:160px;
  height:30px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:140px;
  top:146px;
  width:160px;
  height:30px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:140px;
  top:204px;
  width:160px;
  height:30px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  word-wrap:break-word;
}
